@import '../.././styles/colors';

.modal-container {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.modal-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
}

.modal-header{
    font-size: 18px;
    font-weight: 600;
}

.modal-icon {
    cursor: pointer;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.close-icon{
    position: absolute;
    top: 24px;
    color: #fff;
    background-color: #555;
    padding: 8px;
    display: none;
}

.modal-icon:hover .close-icon{
    display: block;
}


.modal-center {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}

.modal-center p{
    padding: 8px;
    padding-bottom: 0px;
    margin: 0;
}

.create-event-input {
    border: none;
    background-color: var(--white);
    padding: 8px;
    width: 100%;
}

.create-event-input:focus{
    outline: none;
    border-bottom: 2px solid var(--blue);
}

.modal-bottom {
    display: flex;
    justify-content: flex-end;
    column-gap: 10px;
}

.modal-button {
    cursor: pointer;
    border: 1px solid var(--gainsboro);
    border-radius: 4px;
    padding: 8px;
    background-color: var(--blue);
    color: var(--white);
}

.react-datetime-picker__wrapper {
    display: flex;
    column-gap: 50px;
    border: none;
    border-radius: 4px;
    background-color: var(--white);
    padding: 8px;
}

.react-datetime-picker__clear-button {
    display: none;
}

.react-datetime-picker {
    display: flex;
}

.picker-container {
    // margin-right: 100px;
}