@import '../../styles/colors';

@mixin tool-tip {
    position: absolute;
    border: 1px solid var(--gainsboro);
    background-color: var(--white);
    color: var(--black);
    padding: 8px;
    border-radius: 4px;
    top: 24px;
    display: none;
}

.event-container {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.event-center p {
    padding: 8px;
    margin: 0;
}

.event-top {
    display: flex;
    justify-content: space-between;
    column-gap: 50px;
    align-items: center;
    padding: 8px;
}

.event-header{
    font-size: 18px;
    font-weight: 600;
}

.event-icons {
    display: flex;
    justify-content: space-around;
    column-gap: 30px;
}

.event-input {
    border: none;
    background-color: var(--white);
    padding: 8px;
    width: 100%;
}

.event-input:focus{
    outline: none;
    border-bottom: 2px solid var(--blue);
}

.event-icon {
    cursor: pointer;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.edit-icon {
    @include tool-tip;
}

.delete-icon {
    @include tool-tip;
}

.close-icon {
    @include tool-tip;
}

.event-icon:hover .edit-icon {
    display: block;
}

.event-icon:hover .delete-icon {
    display: block;
}

.event-icon:hover .close-icon {
    display: block;
}

.event-bottom {
    display: flex;
    justify-content: flex-end;
    column-gap: 10px;
}

.event-button {
    cursor: pointer;
    border: none;
    border-radius: 4px;
    padding: 8px;
    background-color: var(--blue);
    color: var(--white);
}
