@import '../../../styles/colors';

.month-cell{
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: var(--white);
    border-collapse: collapse;
    border: 1px solid var(--gainsboro);
}

.week-days{
    height: 30px;
    border-bottom: 1px solid var(--gainsboro);
}

.month-cell:hover{
    background-color: var(--gainsboro);
}

.today {
    background-color: var(--blue);
}

#active{
    // background-color: var(--blue);
}

.next-month {
    // background-color: var(--palegold);
    background-color: #efefef;
    font-size: 12px;
}

.prev-month {
    // background-color: var(--palegold);
    background-color: #efefef;
    font-size: 12px;
}

.eventname-container{
    width: 100%;
}