@import '../../../styles/colors';

.createicon-container{
    position: fixed;
    bottom: 35px;
    right: 35px;
    padding: 15px 18px;
    background-color: var(--blue);
    z-index: 5;
    border-radius: 100%;
    cursor: pointer;
}